GKE Private cluster on Rancher behind a proxy not working

**Rancher Server Setup**
- Rancher version:
```
v2.7-bf7dd2179a0f296a572399558b11ac47f7e88cb5-head
gke-operator:v1.1.6-rc2
```
- Installation option: Docker
- Proxy/Cert Details: Self-signed, Rancher running behind a proxy

**Information about the Cluster**
Cluster Type (Downstream): Hosted GKE 1.26

**User Information**
What is the role of the user logged in? - Cluster Owner

**Describe the bug**
Provisioning GKE Private cluster with Master Authorized Networks on Rancher behind a proxy does not turn Active and results in error:
_Failed to communicate with cluster: error generating service account token: Post "https://<Redacted>/api/v1/namespaces": Service Unavailable_

**To Reproduce**
Below are the values used, it may change as per end-user's environment.

1. Create a web proxy such as with squid. Ensure you have properly configured the squid.conf
```
acl localnet src 10.0.0.0/8     # RFC1918 possible internal network
acl localnet src 172.16.0.0/12  # RFC1918 possible internal network
acl localnet src 192.168.0.0/16 # RFC1918 possible internal network
acl localnet src fc00::/7       # RFC 4193 local private network range
acl localnet src fe80::/10      # RFC 4291 link-local (directly plugged) machines
acl Safe_ports port 22      # ssh
acl Safe_ports port 2376    # docker port 
acl SSL_ports port 22
acl SSL_ports port 2376
acl SSL_ports port 443
acl SSL_ports port 6443
acl Safe_ports port 80          # http
acl Safe_ports port 21          # ftp
acl Safe_ports port 443         # https
acl Safe_ports port 70          # gopher
acl Safe_ports port 210         # wais
acl Safe_ports port 1025-65535  # unregistered ports
acl Safe_ports port 280         # http-mgmt
acl Safe_ports port 488         # gss-http
acl Safe_ports port 591         # filemaker
acl Safe_ports port 777         # multiling http
acl Safe_ports port 6443        # k8s
acl CONNECT method CONNECT
http_access deny !Safe_ports
http_access deny CONNECT !SSL_ports
http_access allow localhost manager
http_access deny manager
http_access allow localnet
http_access allow localhost
http_access allow all
# Squid normally listens to port 3128
http_port 3128

coredump_dir /var/cache/squid
refresh_pattern ^ftp:           1440    20%     10080
refresh_pattern ^gopher:        1440    0%      1440
refresh_pattern -i (/cgi-bin/|\?) 0     0%      0
refresh_pattern .               0       20%     4320
```

2. Create a machine to act as the Rancher server. For the host, Set up docker on the rancher host to leverage the proxy:
- sudo mkdir -p /etc/systemd/system/docker.service.d
- sudo vi /etc/systemd/system/docker.service.d/http-proxy.conf

Add content to http-proxy.conf:
Example:

```
[Service]
Environment="HTTP_PROXY=proxy_url:port" "HTTPS_PROXY=proxy_url:port" "http_proxy=proxy_url:port" "https_proxy=proxy_url:port" "NO_PROXY=127.0.0.0/8,10.0.0.0/8,cattle-system.svc,172.16.0.0/28,192.168.0.0/16,.svc,.cluster.local"
```
Restart docker:
sudo systemctl daemon-reload && sudo systemctl restart docker

3. Run single-node rancher:
```
docker run -d --privileged --restart=unless-stopped -p 80:80 -p 443:443 -e HTTP_PROXY="proxy_url:port" -e HTTPS_PROXY="proxy_url:port" -e NO_PROXY="127.0.0.0/8,10.0.0.0/8,cattle-system.svc,172.16.0.0/28,192.168.0.0/16,.svc,.cluster.local" rancher/rancher:v2.7-head
```

4. Provision GKE cluster with configuration:
Private Cluster - True
CP Public Endpoint - True
CP Private Endpoint - False
Master Authorized Networks - True (Rancher IPv4 CIDR added)

**Expected Result**
GKE Private cluster with Master Authorized Networks on Rancher behind a proxy should work and be able to managed by Rancher

**Additional context**
- The above operations work on standard Rancher without proxy
- The above operations work on Rancher behind a proxy and GKE Private cluster without Master Authorized Networks

**Logs Snippet**
_Rancher:_
```
2023/08/24 14:47:00 [INFO] checking cluster [c-cnwnv] upstream state for changes
2023/08/24 14:47:00 [INFO] updating cluster [c-cnwnv], upstream change detected
2023/08/24 14:47:00 [INFO] cluster [c-cnwnv] currently updating, skipping spec sync
W0824 14:47:08.132920      38 warnings.go:80] cluster.x-k8s.io/v1alpha3 Cluster is deprecated; use cluster.x-k8s.io/v1beta1 Cluster
2023/08/24 14:47:41 [ERROR] error syncing '_all_': handler user-controllers-controller: userControllersController: failed to set peers for key _all_: failed to start user controllers for cluster c-cnwnv: secrets "cattle-global-data/" not found, requeuing
2023/08/24 14:48:00 [INFO] checking cluster [c-cnwnv] upstream state for changes
2023/08/24 14:48:00 [INFO] updating cluster [c-cnwnv], upstream change detected
2023/08/24 14:48:00 [INFO] cluster [c-cnwnv] currently updating, skipping spec sync
2023/08/24 14:48:00 [ERROR] error syncing 'c-cnwnv': handler gke-operator-controller: error generating service account token: Post "https://<Redacted>/api/v1/namespaces": Service Unavailable, requeuing
```

_Agent:_
```
INFO: https://<Redacted>/ping is accessible
INFO: Value from https://<Redacted>/v3/settings/cacerts is an x509 certificate
time="2023-08-24T09:25:26Z" level=info msg="Listening on /tmp/log.sock"
time="2023-08-24T09:25:26Z" level=info msg="Rancher agent version bf7dd2179 is starting"
time="2023-08-24T09:25:26Z" level=info msg="EnsureSecretForServiceAccount: waiting for secret [cattle-token-qwfsx] to be populated with token"
time="2023-08-24T09:25:26Z" level=info msg="Connecting to wss://<Redacted>/v3/connect/register with token starting with qnrr8rwzst4m5bqpwnkggcx8tj5"
time="2023-08-24T09:25:26Z" level=info msg="Connecting to proxy" url="wss://<Redacted>/v3/connect/register"
```

GKE Operator:
`Error from server: Get "https://172.17.0.2:10250/containerLogs/cattle-system/gke-config-operator-8fc748ccc-tw4qt/rancher-gke-operator": Forbidden`

Found while validating https://github.com/rancher/rancher/issues/42496
cc: @rancher/highlander 
